.teste1 h2{
    width: 200px;
    background-color: rgb(200, 255, 0);
    
}

.paragrafo1{
    background-color: rgb(174, 211, 211);
    width: 300px;

    color: rgb(199, 13, 22);
}

div{
    margin-left: 20px;
}
.filha1 .neta1{
    color: rgb(43, 226, 134);

}

.teste1 p:last-child{
    color: rgb(231, 38, 189);

}

[atributo]{
    color: chocolate;
}