.teste1 h1{
    width: 200px;
    background-color: rgb(200, 255, 0);
    
}

.paragrafo1{
    background-color: rgb(174, 211, 211);
    width: 300px;

    color: rgb(168, 16, 206);
}

div{
    margin-left: 20px;
}
.mae>.filha>.filha {
    color: blueviolet;

}